/* 

.card{
    background-image: url("../../public/assets/mainbg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.logo{
    background-image: url("./logo.png");
    background-size: 100%;
    box-sizing:content-box;
    background-size: contain;
    background-repeat: no-repeat;
    height: 12em;
    width: 12em;
} */